.idea/
api/node_modules/
client/node_modules/
client/.netlify/
manager/node_modules/
manager/.netlify/
admin/node_modules/
admin/.netlify/
client/package-lock.json
admin/package-lock.json
manager/package-lock.json
client/yarn.lock
client/yarn-error.log
admin/yarn.lock
admin/yarn-error.log
manager/yarn.lock
manager/yarn-error.log
client/build/
manager/build/
admin/build/
client/.env
manager/.env
admin/.env
